.about__gallery {
    height: 58.6rem;
    margin: 17.63rem 0;
    overflow: hidden;
    pointer-events: none;
    position: relative;
    visibility: hidden;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}       

.about__gallery__wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.about__gallery__media {
    height: 43.7rem;
    margin: 0 4rem;
    position: relative;
    width: 30.9rem;
}

.about__gallery__media__image {
    @extend %cover;

    object-fit: cover;
}