.detail {
    @extend %cover;
    @extend %center;

    background: $color-quicksand;
    color: $color-quarter-spanish-white;

    @include media('<phone') {
        height: auto;
    }
}

.detail__wrapper {
    align-items: center;
    display: flex;

    @include media('<phone') {
        display: block;
        margin: auto;
        width: 66.1958rem;
        padding: 31.5rem 0;
    }
}

.detail__media {
    height: 78.2rem;
    position: relative;
    width: 55.4rem;

    @include media('<phone') {
        width: 100%;
        margin: 0 auto 7.8rem;
        height: 93.453rem;
    }
}

.detail__media__image {
    @extend %cover;

    object-fit: cover;
}

.detail__information {
    padding-left: 8.2rem;

    @include media('<phone') {
        padding-left: 0;
    }
}

.detail__information__collection {
    @extend %description-12;

    text-transform: uppercase;
    margin-bottom: 4rem;
}

.detail__information__title {
    @extend %title-120;

    max-width: 60rem;
}

.detail__information__content {
    padding-left: 18rem;

    @include media('<phone') {
        padding-left: 0;
    }
}

.detail__information__highlights {
    margin-top: 6rem;
}

.detail__information__highlight {
    align-items: center;
    display: flex;

    &:not(:first-child) {
        margin-top: 4rem;
    }
}

.detail__information__highlight__icon {
    width: 4rem;
    height: 4rem;
    margin-right: 3.75rem;

    @include media('<phone') {
        width: 9.2rem;
        height: 9.2rem;
        margin-right: 5.8rem;
    }
}

.detail__information__highlight__text {
    @extend %description-16;
}

.detail__information__list {
    margin-top: 4rem;
}

.detail__information__item {
    display: flex;

    &:not(:first-child) {
        margin-top: 4rem;
    }
}

.detail__information__item__title {
    @extend %description-12;

    padding-right: 2.5rem;
    width: 10rem;

    @include media('<phone') {
        padding-right: 5rem;
        width: 15rem;
    }
}

.detail__information__item__description {
    @extend %description-16;

    letter-spacing: 0.03rem;
    max-width: 44rem;
}

.detail__information__link {
    @extend %title-30;

    margin-top: 3rem;
    display: inline-block;
}

.detail__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12.4rem;
    height: 6rem;
    position: absolute;
    left: 50%;
    bottom: 5rem;
    transform: translateX(-50%);
    z-index: 2;
}

.detail__button__icon {
    @extend %cover;
}