*, *:after, *:before  {
    box-sizing: border-box;
}

html {
    font-size: calc(100vw / 1920 * 10);
    line-height: 1;

    @include media('<phone') {
        font-size: calc(100vw / 750 * 10);
    }
}

body {
    @extend %description-16;

    font-family: $font-suisse-bp;
}

a {
    outline: none;
    text-decoration: none;
    color: inherit;
}

button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    outline: none;
}

img {
    vertical-align: middle;
}