*, *:after, *:before  {
    box-sizing: border-box;
}

html {
    font-size: calc(100vw / 1920 * 10);
}

body {
    @extend %description-16;

    // @include media('<phone') {
    //     font-size: 100px;
    // }
}

a {
    outline: none;
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: middle;
}