.home {
    @extend %center;
    @extend %page;

    // background: $color-contessa;
    // color: $color-quarter-spanish-white;
    overflow: hidden;
    text-align: center;

    &:after,
    &:before {
        content: '';
        height: 24rem;
        width: 100%;
        left: 0;
        position: absolute;
        z-index: 1;
    }

    &:after {
        background: linear-gradient(to bottom, $color-contessa 0%, rgba($color-contessa, 0) 100%);
        top: 0;
    }

    &::before {
        background: linear-gradient(to top, $color-contessa 0%, rgba($color-contessa, 0) 100%);
        bottom: 0;
    }
}

.home__wrapper {

}

.home__titles {
	@extend %vertical-titles;
}

.home__titles__label {
	@extend %vertical-titles__label;
}

.home__titles__title {
	@extend %vertical-titles__title;
}

.home__gallery {
    @extend %cover;

    visibility: hidden;

    width: 245.7539rem + 9rem;
    height: 178.2012rem;
}

.home__gallery__media {
    position: absolute;

    &:nth-child(1) {
        width: 31.3679rem;
        height: 41.8293rem;
        top: 22.4rem;
        left: 9.58rem;
    }

    &:nth-child(2) {
        width: 31.3679rem;
        height: 41.8293rem;
        top: 25.2rem;
        left: 54.3rem;
    }

    &:nth-child(3) {
        width: 31.3679rem;
        height: 41.8293rem;
        top: 16.7rem;
        left: 107rem;
    }

    &:nth-child(4) {
        width: 45.9rem;
        height: 65.7rem;
        top: 0;
        left: 153rem;
    }

    &:nth-child(5) {
        width: 31.3679rem;
        height: 41.8293rem;
        top: 16.7rem;
        left: 207rem;
    }

    &:nth-child(6) {
        width: 39.2537rem;
        height: 52.3451rem;
        top: 75rem;
        left: 0;
    }

    &:nth-child(7) {
        width: 47rem;
        height: 62.65rem;
        top: 71.1rem;
        left: 46.3rem;
    }

    &:nth-child(8) {
        width: 43.6762rem;
        height: 58.2425rem;
        top: 70.5rem;
        left: 101rem;
    }

    &:nth-child(9) {
        width: 31.3679rem;
        height: 41.8293rem;
        top: 69.8rem;
        left: 160rem;
    }

    &:nth-child(10) {
        width: 43.6762rem;
        height: 58.2425rem;
        top: 70.5rem;
        left: 202rem;
    }   

    &:nth-child(11) {
        width: 31.3679rem;
        height: 41.8293rem;
        top: 135rem;
        left: 13.3rem;
    }

    &:nth-child(12) {
        width: 31.3679rem;
        height: 41.8293rem;
        top: 136rem;
        left: 54.3rem;
    }

    &:nth-child(13) {
        width: 31.3679rem;
        height: 41.8293rem;
        top: 134rem;
        left: 106rem;
    }

    &:nth-child(14) {
        width: 31.3679rem;
        height: 41.8293rem;
        top: 117rem;
        left: 164rem;
    }

    &:nth-child(15) {
        width: 31.3679rem;
        height: 41.8293rem;
        top: 134rem;
        left: 207rem;
    }
}

.home__gallery__media__image {
    @extend %cover;    

    opacity: 1;
}

.home__link {
    @extend %description-14;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 28.8rem;
    height: 6rem;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    z-index: 2;

    @include media('<phone') {
        bottom: 7.5rem;
        height: 13.7rem;
        width: 55rem;
    }
}

.home__link__icon {
    @extend %cover;
}